html {
  background: #222;
  color: #fff;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
}
.nav__box {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
  }
}
.header__box {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50px;
  right: 0;
  left: 0;
  z-index: 10;
  div {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 10px #222;
  }
}
.banner__box {
  position: relative;
  img {
    width: 100%;
  }
  .summary {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 1px;
    background: rgba(0, 0, 0, 0.2);
    article {
      margin: 300px 0 0 150px;
    }
    h1 {
      font-size: 50px;
      letter-spacing: 5px;
      margin-bottom: 10px;
    }
    p {
      font-size: 20px;
      margin-bottom: 10px;
    }
    span {
      strong {
        font-weight: bold;
      }
    }
  }
}
.section__title {
  margin: 10px auto;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.item__parent {
  .item__wrapper {
    color: #fff;
    text-decoration: none;
    width: 200px;
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    & + & {
      margin-left: 10px;
    }
    img {
      width: 200px;
      height: 300px;
    }
    .summary {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 1px;
      left: 0;
      background: rgba(0, 0, 0, 0.2);
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: column;
      padding-bottom: 50px;
      // display: none;
      h1 {
        font-size: 20px;
        font-weight: bold;
        margin: 10px 0;
      }
      span {
      }
    }
    .score {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 1px;
      left: 0;
      background: rgba(0, 0, 0, 0.4);
      justify-content: center;
      align-items: center;
      flex-direction: column;
      display: none;
      cursor: pointer;
      h1 {
        width: 50px;
        height: 50px;
        border: 1px solid #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        border-radius: 25px;
        box-shadow: inset 0 0 5px #fff;
        text-shadow: 0 0 10px #000;
      }
    }
    &:hover {
      .summary {
        display: none;
      }
      .score {
        display: flex;
      }
    }
  }
}
.detail__container {
  max-width: 700px;
  margin: 0 auto;
  .img__wrapper {
    position: relative;
    display: flex;
    img {
      width: 100%;
    }
    .detail__title {
      position: absolute;
      background: rgba(0, 0, 0, 0.2);
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      h1 {
        font-size: 40px;
        margin: 20px 0 0 30px;
      }
      button {
        width: 80px;
        height: 40px;
        background: rgb(51, 51, 51);
        border: none;
        box-shadow: 0 0 5px rgb(131, 131, 131);
        border-radius: 5px;
        color: rgb(224, 224, 224);
        margin-left: 15px;
        margin-bottom: 15px;
        display: none;
        cursor: pointer;
      }
    }
    &:hover {
      .detail__title {
        background: rgba(0, 0, 0, 0);
        h1 {
          color: rgba(255, 255, 255, 0.2);
        }
        button {
          display: initial;
        }
      }
    }
  }
  .summary {
    h1 {
    }
  }
}
